@model IEnumerable<Entprog_Finals_Unwind.Models.Music>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.MusicName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateAdded)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateModified)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var Music in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelMusic => Music.MusicName)
            </td>
            <td>
                @Html.DisplayFor(modelMusic => Music.DateAdded)
            </td>
            <td>
                @Html.DisplayFor(modelMusic => Music.DateModified)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@Music.MusicId">Edit</a> |
                <a asp-action="Delete" asp-route-id="@Music.MusicId"
                    onclick='return' confirm("Are you sure?");'>Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
